.footer {
    width: 100%;
    background-color:#04091E;
   
}
.main{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    max-width: 1200px;
    margin : 0 auto;
    flex-wrap: wrap;
}
.head{
    color: white;
    font-family: sans-serif;
}
.content{
    justify-content: center;
    margin: 0 auto;
    width:300px;
}
.Ul{
    padding: 0;
    list-style-type: none;
    color: rgb(131, 126, 126);
    font-family: sans-serif;  
}
.input{
    height: 40px;
    width: 300px;
}
.Button{
    width:30px;
    padding: 4px;
    background-color: #F7631B;
    color: white;
    border: 2px solid #F7631B;
}
.list-element{
    margin:  10px 0px;
}
.list-element:hover{
    color:  #F7631B;
}
.containerInput{
    width: 340px;
    display: flex;
    flex-direction: row;
}
.text{
    color: rgb(131, 126, 126);
    max-width:1100px;
    margin:0 auto;
    padding-bottom: 20px;
}


